<%= render 'shared/page_title', title: "listing  all the recipes"%>
<br>
<div class="col-md-12 col-md-offset-4 well1">
    <div class="center">
        <%=link_to "Create a New Recipe", new_recipe_path, class: "btn btn-primary btn-lg btn-xlarge" %>
    </div>
</div>
<br>

<% @recipes.each do |recipe|%>
    <br><br>
    <div class="row">
        <div class= "col-md-2">
            <section class="center">
                <%= gravatar_for(recipe.chef, size: 110)%>
            </section>
        </div>
        <div class="col-md-8 well">
            <h4><%=link_to recipe.name, recipe_path(recipe)%></h4>
            <p>
                <div class="float-end"><span class="quiet"><small>Created <%= time_ago_in_words(recipe.created_at) %> ago</small></span></div>
            </p>
            <p><%=truncate(recipe.description, length: 70)%></p>
            
            <div class="float-end well1">
                <%=link_to "Edit this Recipe", edit_recipe_path(recipe), class: "btn btn-primary btn-md btn-xlarge" %>
                 <%=link_to "Delete this recipe", recipe_path(recipe), class:"btn btn-primary btn-xs btn-xlarge", 
            data: {"turbo-method": :delete}, method: :delete%>
            </div>
        </div>
    </div>
<%end%>