<%= render 'shared/page_title', title: "listing  all the recipes"%>
<% @recipes.each do |recipe|%>
    <br><br>
    <div class="row">
        <div class= "col-md-2">
            <section class="center">
                <%= gravatar_for(recipe.chef)%>
            </section>
        </div>
        <div class="col-md-8 well">
            <h4><%=link_to recipe.name, recipe_path(recipe)%></h4>
            <p><%=truncate(recipe.description, length: 150)%></p>
            <p>
                <div class="float-end"><span class="quiet"><small>Created <%= time_ago_in_words(recipe.created_at) %> ago</small></span></div>
            </p>
        </div>
    </div>
<%end%>